@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	label {
		@apply text-sm italic 2xl:pb-1 text-shark-400 2xl:text-base;
	}
	[type='text'],
	[type='email'],
	[type='url'],
	[type='password'],
	[type='number'],
	[type='date'],
	[type='datetime-local'],
	[type='month'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='week'],
	[multiple],
	textarea,
	select {
		@apply p-1 border-0 border-b-2 border-dotted rounded-t bg-bridal-300 focus:ring-0 focus:border-shark-500 focus:outline-none focus:bg-bridal-600 border-shark-500;
	}
	option {
		@apply text-xl text-shark-500 font-merriweather;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

/* Global styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
